@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* Shared styles */
 .color-btn{
     background: linear-gradient(to top right, rgb(247, 232, 63), rgba(251, 9, 178, 0.596),rgba(145, 0, 248, 1));
    color: white;
    font-weight: 600;
    font-size: 1rem;
    border: none;
    border-radius: 10000px;
    padding: 12px 20px ;
}

.display-none{
  display: none;
} 

.common-p{
   font-weight: 400;
   font-size: 1rem;
   color: white; 
}
/* General styles */

nav{
      max-width: 1600px;
    margin: 0 auto;
    display: flex;
   align-items: center;
    justify-content: space-between;
    background-color: #1A0B2E;
    border-bottom: 2px solid #2A186C;
}

.logo{
    margin-left: 120px;
   font-weight: 600;
   font-size: 1.8rem;
   color: white;
     display: inline-block;
    animation: bounce 2s infinite;
}
@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
}

#logo-span{
   background: linear-gradient(to top right, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
   background-clip: text;
   color: transparent;
}

.nav-ul{
    gap: 32px;
    display: flex;
    list-style: none;
    
}
.nav-ul a{
    font-weight: 500;
    font-size: 1rem;
    color: white;
    text-decoration: none;
}
.nav-ul a:hover{
    color: rgb(226, 194, 152);
}
.nav-btn{
    
    height: 40px;
    cursor: pointer;
    margin-right: 120px;
}

.nav-btn:hover{
    background-color: antiquewhite;
}

/* Banner er khel hobe  */

.banner{
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
     display: flex;
      align-items: center;
    justify-content: center;
    overflow: hidden;
}

.banner-image{ 
    position: relative; 
    width: 100%;
    height: 760px;
}
.bg{
    width: 100%;
    height: 100%;
    object-fit: cover; 
    display: block;
}
.two-images-div {
    margin: 0 auto;
    margin-top: -760px;
    width: 350px;
    height: 350px;
    position: relative;
    text-align: center;
}
.circle{
     display: inline-block;
    margin-top: 100px;
    height: 350px;
    width: 350px;
    position: relative;
}

.mic{
     position: absolute;
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    height: auto;
    z-index: 2;

}
.badge{
    position: absolute;
    top: 145px;
    left: 65%;
    background: #00FF88;
    color: #1A0B2E;
    border: none;
    border-radius: 20px;
    padding: 8px 16px;
    font-weight: 600;
    font-size: 1.1rem;
    z-index: 10;
    cursor: pointer;
    transform: translateX(-50%); 
    
}

.badge:hover{
    background-color: antiquewhite;
}

.h1{
    color: rgb(250, 247, 247);
       font-size: 3.7rem;
    font-weight: 800;
    margin-bottom: 8px;
}

.p1{
     margin-bottom: 24px;
}
.banner-btn{
     display: flex;
    gap: 8px;
    justify-content: center;
}

.banner-btn .b1{
    gap: 8px;
   display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 0px;
}

.banner-btn .b2{
   display:flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    color: #00FF88;
    font-weight: 600;
    background: transparent;
    border: 1px solid #00FF88;
    border-radius: 50px;
    padding: 12px 20px;
    cursor: pointer;
    margin-left: 0px;
}


.b1:hover{
    background-color: antiquewhite;
}

.b2:hover{
    background-color: rgba(250, 235, 215, 0.26);
}

/* Main suru*/
main{
    margin: 0 auto;
}

.about{
     max-width: 1600px;
     padding-top: 40px;
    margin: 0 auto;
     display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #1A0B2E;
    
}
.about-content{
    
    text-align: center;
   justify-content: center;
   align-items: center;

}
.about-title{
    font-weight: 700;
    font-size: 3rem;
    color: white;
}

.about-text{
     text-align: center;
   
}

.about-number{
    padding-left: 50px;
   display: grid;
   grid-template-columns: repeat(4, 1fr); 
   text-align: center;
   border-top: 2px solid #341758;
    margin-bottom: 40px;
}

.number-card{
    padding-top: 80px;
    width: 240px;
    height: 94px;
    justify-content: center;
    align-items: center;
}
.number-card h1{
    color: #00FF88;
}
.number-card h4{
    color: white;
}

.why-choose{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width:100%;
    max-width: 1600px;
    background-color: #230E3D;
     justify-content: center;
     align-items: center;
}
.why-choose-title{
    font-weight: 700;
    font-size: 3rem;
    margin-top: 140px;
    color: white;
}
.why-choose-container{
    max-width: 1200px;
    width: 100%;
   
}
.why-card{

    padding-top: 112px;
    padding-left: 45px;
    border-radius: 40px;
    background-color: rgba(53, 17, 101, 0.4);
   
}

.why-card h4{
    font-weight: 700;
    font-size: 1.25rem;
    color: white;

}

.hp{
  grid-area: hp;  
}
.dvc{
  grid-area: dvc;  
}
.ltn{
  grid-area: ltn;  
}
.exc{
  grid-area: exc;  
}
.res{
  grid-area: res;  
}
.why-choose-container{
    display: grid;
    gap: 10px;
    grid-template-areas: "hp dvc dvc"
                        "hp ltn ltn"
                        "exc exc res"
                        
    
    ;
}

/* Main ses*/






/* Responsive Area For 576px */

@media screen and (max-width:576px){
  

    nav {
    max-width: 1600px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    
}


    #logo-span{
        margin-left: 0px;
   }
    .nav-img{
        display: flex;
    }
    .nav-ul{
        display: none;
    }

    .nav-btn{
        display: none;
    }
    /* hamburger menu */
   .nav-toggle:checked ~ .responsive-menu {
    display: block;
    }
    .logo{
        margin-left: 20px;
    }
    .hamburger-icon{
        cursor: pointer;
       display: block; 
       margin-left: auto;
        margin-right: 20px; 
       

    }
    .nav-toggle-ul{
        list-style: none;
        color: white;
      
    }
  
    .responsive-menu{
        cursor: pointer;
        position:absolute;
       background-color: #471786;
        border: 1px solid black;
        top: 67px;
        right: 28px;
    }
    .mobile-btn{
        background: linear-gradient(to top right, rgb(247, 232, 63), rgba(251, 9, 178, 0.596),rgba(145, 0, 248, 1));
    color: white;
      cursor: pointer;  
    }
    .mobile-btn:hover{
        background-color: antiquewhite;
    }
    
    .banner{
       
    max-width: 100%;
    width: 100%;
    height: auto;
    
    }
    .banner-image{
        width: 100%;
        height: 466px;
        
    }
    .bg{
         width: 100%;
        height: 100%;
        object-fit: cover; 
     }
    .two-images-div{
        margin-top: -400px;
        height: 400px;
    }
   .circle{
    margin-top:20px;
    width: 200px;
    height: 200px;
    
     
   }
   .mic{
    top: 70px;
    width: 80px;
    height: 80px;
     
   }
  .badge {
   top: 90px;
        left: 65%; 
        width: auto;
        height: auto;
        padding: 6px 12px; 
        font-size: 0.9rem;
        transform: translateX(-50%); 
   
}


.banner-text{
    justify-items: center;
    justify-content: center;
}

.h1
 {
    width: 400px;
    height: 30px;
    color: rgb(250, 247, 247);
    font-size: 1.7rem;
    font-weight: 800;
    margin-bottom: 8px;
}
.p1{
    width: 400px;
    height:28px ;

}

.banner-btn{
    width: 356px;
    height: 44px;
    
}
.color-btn {
    background: linear-gradient(to top right, rgb(247, 232, 63), rgba(251, 9, 178, 0.596), rgba(145, 0, 248, 1));
    color: white;
    font-weight: 600;
    font-size: .8rem;
    border: none;
    border-radius: 10000px;
    padding: 10px 18px;
    gap: 5px;
}


.about{
    
    width: 100%;
   
    display: flex;
    align-items: center;
    
}
.about-content{
    width: 400px;
    height: 207px;
}
 .about-title {
    margin-top:40px ;
    font-weight: 700;
    font-size: 1.5rem;
    color: white;
} 
.about-text{
    display: flex;
    flex-direction: column;
}
.about-title{
    margin-top: 10px;
}
.about-number {
    grid-template-columns: repeat(2, 1fr);
    
}
.why-choose{
     width: 100%;
    display: flex;
  
    
}
.why-choose-title{
    margin-top: 10px;
    text-align: center;
}
.why-choose-container{
   
   display: flex;
   flex-direction: column;
}
.why-card{
    padding-top: 20px;
    padding-left: 20px;
}
}