@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* Shared styles */
    .color-btn{
     background: linear-gradient(to top right, rgb(247, 232, 63), rgba(251, 9, 178, 0.596),rgba(145, 0, 248, 1));
    color: white;
    font-weight: 600;
    font-size: 1rem;
     height: 44px;
    width: 135px;
    border: none;
    border-radius: 10000px;
}

.display-none{
  display: none;
} 
/* General styles */

body *{
    margin: 0 auto;
}

nav{
    max-width: 1660px;
    height: 92px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1A0B2E;
}

.logo{

   font-weight: 600;
   font-size: 1.8rem;
   color: white;
}

#logo-span{
   background: linear-gradient(to top right, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
   background-clip: text;
   color: transparent;
}

.nav-ul{
    gap: 32px;
    display: flex;
    list-style: none;
    
}
.nav-ul a{
    font-weight: 500;
    font-size: 1rem;
    color: white;
    text-decoration: none;
}
.nav-ul a:hover{
    color: rgb(226, 194, 152);
}
.nav-btn{
    cursor: pointer;
}

.nav-btn:hover{
    background-color: antiquewhite;
}



/* Responsive Area For 576px */

@media screen and (max-width:576px){
   body *{
    margin-left: 20px;
    margin-right: 20px;
   }
   nav{
    height: 60px;
    justify-content: space-between;
   }
    #logo-span{
        margin-left: 0px;
   }
    .nav-img{
        display: flex;
    }
    .nav-ul{
        display: none;
    }

    .nav-btn{
        display: none;
    }
   .nav-toggle:checked ~ .responsive-menu {
    display: block;
    
}
    .hamburger-icon{
       display: block; 
    }
    .nav-toggle-ul{
        list-style: none;
        color: white;
      
    }
  
    .responsive-menu{
        cursor: pointer;
        position:absolute;
       background-color: #471786;
        border: 1px solid black;
        top: 67px;
        right: 28px;
    }
    .mobile-btn{
        background: linear-gradient(to top right, rgb(247, 232, 63), rgba(251, 9, 178, 0.596),rgba(145, 0, 248, 1));
    color: white;
      cursor: pointer;  
    }
    .mobile-btn:hover{
        background-color: antiquewhite;
    }
   .hamburger-icon{
    cursor: pointer;
   } 
   .hamburger-icon:hover{
    background-color: rgba(236, 176, 97, 0.178);
   }
  
}